/* Dev server fonts (the builds embed the same files as data URIs). SIL Open Font License. */
@font-face { font-family: 'Lilita One'; font-style: normal; font-weight: 400; font-display: block; src: url(LilitaOne-latin.woff2) format('woff2'); }
@font-face { font-family: 'Nunito'; font-style: normal; font-weight: 200 1000; font-display: block; src: url(Nunito-latin.woff2) format('woff2'); }
